---
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Projects from "@/components/Projects.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "@/components/Contact.astro";
import Services from "@/components/Services.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="px-4">
		<SectionContainer id="inicio" class="flex items-center animate fade-up">
			<Hero />
		</SectionContainer>
	</main>
	<div class="space-y-24">
		<SectionContainer
			id="sobre-mi"
			class="flex flex-col items-center mt-40 bg-section-alt py-10 px-4"
		>
			<span class="flex items-center text-primary label-tag"
				>SOBRE MÍ</span
			>
			<h2 class="text-4xl font-bold">Perfil profesional</h2>
			<About />
		</SectionContainer>
		<SectionContainer
			id="servicios"
			class="flex flex-col items-center animate fade"
		>
			<span class="flex items-center text-primary label-tag"
				>SERVICIOS</span
			>
			<h2 class="text-4xl font-bold">Servicios disponibles</h2>
			<Services />
		</SectionContainer>
		<SectionContainer
			id="proyectos"
			class="flex flex-col items-center bg-section-alt py-10 animate zoom"
		>
			<span class="flex items-center text-primary label-tag"
				>PORTAFOLIO</span
			>
			<h2 class="text-4xl font-bold">Proyectos Realizados</h2>
			<Projects />
		</SectionContainer>
		<!-- <SectionContainer
			class="flex flex-col items-center mt-40 bg-section-alt py-10"
		>
			<span class="flex items-center text-primary label-tag"
				>TESTIMONIOS</span
			>
			<h2 class="text-4xl font-bold">Lo que dicen de mi trabajo</h2>
			<span class="text-muted-foreground mt-4">Proximamente...</span>
			<Projects />
	</div> -->
		<SectionContainer
			id="contacto"
			class="flex flex-col items-center py-10 mt-40"
		>
			<span class="flex items-center text-primary label-tag"
				>CONTACTO</span
			>
			<h2 class="text-4xl font-bold">¿Tienes un proyecto en mente?</h2>
			<p class="text-muted-foreground text-center mt-4">
				Cuéntame sobre tu idea y encontremos la mejor solución juntos.
			</p>
			<Contact />
		</SectionContainer>
	</div>
</Layout>
