---
---

<form action="">
    <input type="text" name="name" id="" placeholder="Nombre" />
    <input type="text" name="phone" id="" placeholder="Telefono" />
    <input type="email" name="email" id="" placeholder="Correo" />
    <textarea name="message" id="" placeholder="Mensaje"></textarea>
    <button type="submit">Enviar</button>
</form>
