---
const currentYear = new Date().getFullYear();
---

<footer
    class="m-4 max-w-full mx-auto container flex items-center justify-center py-2"
>
    <div
        class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md: items-center md: justify-between pt-4"
    >
        <span class="textsm- sm:text-center text-muted-foreground">
            © {currentYear}
            <a href="#" class="hover:underline">Raúl Armas Santiago.</a> Todos los
            derechos reservados.
        </span>
        <!-- <ul
            class="flex flw-wrap items-center mt-3 text-sm font-medium text-muted-foreground"
        >
            <li>
                <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">
                    Sobre mí
                </a>
            </li>
            <li>
                <a
                    id="contacto"
                    href="mailto:raularmassantiago@gmail.com"
                    class="hover:underline"
                >
                    Contacto
                </a>
            </li>
        </ul> -->
    </div>
</footer>
