---
import HeroImage from "@/assets/img/RaulASDEV.jpg";
---

<div class="flex flex-col md:flex-row mt-10">
    <div class="w-full max-w-screen-xl h-full">
        <span class="text-primary text-2xl mb-6">
            Desarrollador de software
        </span>
        <h1 class="text-6xl font-bold mb-10 mt-2">
            Contruyo soluciones <span class="text-gradient">digitales</span> a la
            medida
        </h1>
        <p class="text-foreground mb-10">
            Dessarrollo web, aplicaciones móviles híbridas y automatizaciones.
            Transformo ideas en productos funcionales con tecnología moderna.
        </p>
        <div class="flex gap-6 items-center py-4">
            <a
                class="w-40 text-center bg-primary rounded-lg py-3 px-4 hover:bg-primary/80"
            >
                Ver proyectos
            </a>
            <a
                class="w-40 text-center bg-secondary rounded border py-3 px-4 rounded-lg hover:bg-secondary/60"
            >
                Contactame
            </a>
        </div>
    </div>
    <div class="w-full h-full flex justify-center items-center">
        <img src={HeroImage.src} alt="Hero" class="w-full h-full" />
    </div>
</div>
